/**
 * Adjustments to make sure mutik's new script is not broken by us
**/
#DRMng_header {
    margin-top: 25px;
    margin-right: 5em;
}
#DRMng_main {
    margin-right: 5em;
    display: block;
    border-right: solid 1px #444;
}

#DRMng_status {
    float: right;
    text-align: right;
}

#DRMng_onoff {
    float: left;
    border-left-width: 0;
    border-right: solid 1px #444;
}
