@mixin simple-square($size) {
    width:$size;
    height:$size;
}
@mixin z-offset($offset) {
    //make sure we are always above the default pages
    z-index:10000000+$offset;
}
@import "styles/mutik.scss";
#idotd-base {
    /**
        * These styles modify pages changed by the script of IDotD
    **/
    .idrinth-hovering-box {
        background: #cccccc;
        background: rgba(204, 204, 204, 0.9);
        border-radius: 2px;
        width: 200px;
        @include z-offset(0);
        display: block;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.65);
    }

    .idrinth-hovering-box,
    .idrinth-hovering-box * {
        color: #000000;
        font-family: sans-serif;
        font-size: 11px;
    }

    .idrinth-emoticon,
    .idrinth-emoticon > span {
        background: url(https://dotd.idrinth.de/static/emoticons/);
        background-size: 100% auto;
    }

    .idrinth-emoticon {
        display: inline-block;
        @include simple-square(16px);
    }

    .idrinth-emoticon > span {
        display: none;
        @include simple-square(64px);
        position: absolute;
    }

    .idrinth-emoticon:hover > span {
        display: block;
    }

    #idrinth-raid-link-list span {
        display: block;
        cursor: pointer;
    }

    .idrinth-hovering-box button {
        background-color: #aaaaaa;
        color: #000000;
        border: 1px solid #ccc;
        padding: 0.5em 1em;
        height: auto !important;
        box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.5);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)) !important;
    }

    .idrinth-hovering-box input {
        border: 1px solid #ccc;
        background-color: #eee !important;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)) !important;
    }

    .idrinth-hovering-box button:hover,
        .idrinth-hovering-box button:focus,
        .idrinth-hovering-box button:active {
        background-color: #333333;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)) !important;
        color: #ffffff;
        box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
    }

    .idrinth-hovering-box tr,
    .idrinth-hovering-box td,
    .idrinth-hovering-box th {
        padding: 1px;
        height: auto;
        min-height: 0.5em;
        background: transparent;
        background-color: rgba(255, 255, 255, 0);
    }

    .idrinth-hovering-box tr:nth-of-type(2n) {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .idrinth-hovering-box tr:nth-of-type(2n+1) {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    #idrinth-tierlist .tier-wrapper img {
        float: right;
    }

    #idrinth-tierlist .tier-wrapper table {
        width: 100%;
        box-sizing: border-box;
    }

    #idrinth-tierlist .tier-wrapper strong,
    #idrinth-tierlist .tier-wrapper span {
        display: block;
    }

    .idrinth-hovering-box .tab-activator {
        float: left;
        border-top-left-radius: 5px;
        box-sizing: border-box;
        border-top-right-radius: 5px;
        border: 1px solid #000;
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
        cursor: pointer;
    }

    .idrinth-hovering-box .tab-activator.active {
        border-bottom-color: transparent;
    }

    .idrinth-hovering-box .tab-element {
        padding: 0;
        display:block;
        margin: 0;
    }

    #idrinth-controls {
        top: 5px;
        @include z-offset(5);
        right: 5px;
        position: fixed;
    }

    #idrinth-tooltip {
        text-align: center;
        position: absolute;
    }

    #idrinth-tooltip a {
        color: #000000;
        text-decoration: underline;
        font-style: normal;
    }

    .idrinth-line,
    #idrinth-tierlist .tier-wrapper {
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        overflow: hidden;
        padding: 2px;
    }

    .idrinth-float-half {
        display: block;
        width: 50%;
        box-sizing: border-box;
        float: left;
        padding: 2px;
        margin: 0;
    }

    #idrinth-tooltip .idrinth-tooltip-header {
        font-weight: bold;
        color: #ffffff;
        background: #333333;
        background: rgba(0, 0, 0, 0.9);
    }

    #idrinth-tooltip .idrinth-tooltip-update {
        font-size: 85%;
    }

    #idrinth-tooltip .idrinth-format-date {
        font-style: italic;
    }

    #idrinth-controls.inactive * {
        display: none;
    }

    #idrinth-controls.active {
        width: 400px;
    }

    #idrinth-chat {
        width: 0;
        position: fixed;
        top: 10%;
        right: 5px;
        max-height: 80%;
        max-width: 360px;
    }

    #idrinth-chat.active {
        width: 360px;
        height: 80%;
    }

    #idrinth-chat ul,
    #idrinth-chat li {
        display: block;
        margin: 0;
        padding: 1px;
        box-sizing: border-box;
    }

    #idrinth-chat .chat-labels,
    #idrinth-chat .chat-tabs {
        display: none;
    }

    #idrinth-chat.active .chat-labels {
        width: 3em;
        display: block;
        float: left;
    }

    #idrinth-chat.active .chat-tabs {
        display: block;
    }

    #idrinth-chat .chat-labels li {
        border: 1px solid #000;
        font-family: monospace;
        word-wrap: break-word;
        width: 1.25em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #idrinth-chat .chat-labels li.active {
        border-color: #a00;
        color: #a00;
    }

    #idrinth-chat .chat-tabs > li {
        display: none;
    }

    #idrinth-chat .chat-tabs > li.active {
        display: block;
        height: 100%;
        overflow: hidden;
    }

    #idrinth-chat .chat-tabs, #idrinth-chat .chat-labels {
        overflow-y: auto;
        height: 100%;
        overflow-x: hidden;
    }

    #idrinth-chat .chat-tabs {
        margin-left: 2.5em;
    }

    #idrinth-chat .chat-tabs .users {
        height: 15%;
        overflow-y: auto;
    }

    #idrinth-chat .chat-tabs .chat {
        height: 80%;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, 0.2);
    }

    #idrinth-chat.big-font .chat-tabs .chat {
        font-size: 120%;
    }

    #idrinth-chat.huge-font .chat-tabs .chat {
        font-size: 150%;
    }

    #idrinth-chat .time {
        color: #555;
        font-style: italic;
        font-size: 90%;
        padding: 1px;
    }

    #idrinth-chat .user {
        color: #333;
        font-style: italic;
        padding: 1px;
        cursor: pointer;
    }

    #idrinth-chat .user.mod {
        color: #aa3;
    }

    #idrinth-chat .user.owner {
        color: #a33;
    }
    #idrinth-chat .user.system-message {
        font-weight: bold;
    }

    #idrinth-chat > button {
        right: 5px;
        top: 25px;
        line-height: 1em;
        width: auto !important;
        position: fixed;
    }

    #idrinth-chat.left-sided > button {
        left: 5px;
        right: auto;
    }

    #idrinth-chat .settings ul {
        border-bottom: 1px solid #000;
    }

    #idrinth-chat .settings label,
    #idrinth-chat .settings input {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }

    #idrinth-chat .settings li{
        overflow: hidden;
        height: auto;
    }
    .idrinth-ui-menu {
        margin:0;
        padding:0;
        overflow:hidden;
        width:100%;
    }

    #idrinth-chat .styled-scrollbar::-webkit-scrollbar,
    #idrinth-chat .styled-scrollbar::-webkit-scrollbar-track annotation {
        width: 0.75em;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
    }

    #idrinth-chat .styled-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: rgba(255, 0, 0, 0.3);
        visibility: hidden;
    }

    #idrinth-chat .styled-scrollbar:hover::-webkit-scrollbar,
        #idrinth-chat .styled-scrollbar:hover::-webkit-scrollbar-thumb,
        #idrinth-chat .styled-scrollbar:hover::-webkit-scrollbar-track {
        visibility: visible;
    }

    #idrinth-chat .styled-scrollbar::-webkit-scrollbar-button,
    #idrinth-chat .styled-scrollbar::-webkit-scrollbar-corner {
        display: none;
    }

    #idrinth-chat .add-chat-box {
        height: 5%;
        display: block;
        float: left;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    #idrinth-chat > .chat-labels > li {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        cursor: pointer;
        max-height: 7.5em;
        overflow: hidden;
    }

    #idrinth-chat.new-message > button,
    #idrinth-chat > .chat-labels > li.new-message {
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 2.5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;

        -moz-animation-name: blinker;
        -moz-animation-duration: 2.5s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;

        animation-name: blinker;
        animation-duration: 2.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @-moz-keyframes blinker {
        0% {
            opacity: 1.0;
        }
        50% {
            opacity: 0.0;
        }
        100% {
            opacity: 1.0;
        }
    }

    @-webkit-keyframes blinker {
        0% {
            opacity: 1.0;
        }
        50% {
            opacity: 0.0;
        }
        100% {
            opacity: 1.0;
        }
    }

    @keyframes blinker {
        0% {
            opacity: 1.0;
        }
        50% {
            opacity: 0.0;
        }
        100% {
            opacity: 1.0;
        }
    }

    #idrinth-chat {
        @include z-offset(1);
    }

    .idrinth-userinfo-box {
        position: fixed;
        display: block;
        background: #333;
        color: #fff;
        padding: 2px;
        border-radius: 2px;
        box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.9);
        margin: 0;
        max-width: 150px;
        @include z-offset(2);
    }

    .idrinth-userinfo-box > li {
        display: block;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    #idrinth-controls.inactive > strong span {
        display: inline;
    }

    #idrinth-controls.inactive.small > strong span:last-of-type {
        display: none;
    }

    #idrinth-controls.inactive.small {
        width: 50px;
    }

    #idrinth-controls.left-sided {
        left: 0;
        right: auto;
    }

    #idrinth-chat > .chat-tabs li > button {
        min-width: 50%;
        max-width: 100%;
        width: auto !important;
        display: block;
    }

    #idrinth-chat .chat > li {
        overflow-x: hidden;
    }

    .idrinth-central-box {
        left: 40%;
        top: 0.2em;
        position: fixed;
        width: 20%;
    }

    .idrinth-central-box.bottom {
        top: auto;
        bottom: 0.2em;
    }

    .idrinth-central-box table {
        width: 100%;
        border-collapse: collapse;
    }

    .idrinth-central-box td,
    .idrinth-central-box th {
        border-width: 0;
        border-bottom: 1px solid #444;
    }

    .idrinth-central-box th {
        font-size: 85%;
    }

    .idrinth-central-box td.traffic > span {
        @include simple-square(2em);
        display: block;
    }

    .idrinth-central-box td.traffic > span {
        @include simple-square(2em);
        border-radius: 1em;
        display: block;
        overflow: hidden;
    }

    .idrinth-central-box td.traffic.maybe > span {
        background: yellow;
        color: yellow;
    }

    .idrinth-central-box td.traffic.yes > span {
        background: green;
        color: green;
    }

    .idrinth-central-box td.traffic.no > span {
        background: red;
        color: red;
    }

    .idrinth-central-box.small-window > table,
    .idrinth-central-box.small-window > * > span {
        display: none;
    }

    .idrinth-central-box > * > span:last-of-type {
        border: 1px solid #fff;
        text-align: center;
    }

    .idrinth-central-box.small-window > * > span:last-of-type {
        display: block;
    }

    .idrinth-central-box.small-window {
        background: transparent;
        width: auto;
    }

    td.is-os {
        background: #f000;
        background: rgba(255, 0, 0, 0.5);
    }

    #idrinth-tooltip > div > * {
        display: none;
    }

    #idrinth-tooltip > div > :first-child,
        #idrinth-tooltip > div > :last-child,
        #idrinth-tooltip > div:hover > .idrinth-line {
        display: block;
    }
    .idrinth-hovering-box.idrinth-popup {
        left: 45%;
        top:5%;
        position:fixed;
    }
    .idrinth-hovering-box.idrinth-popup > .header{
        background:#000;
        color:#fff;
        text-align:center;
        font-weight:bold;
    }
    .idrinth-hovering-box.idrinth-popup > .buttons{
        width:100%;
        height:auto;
        overflow:hidden;
    }
    .idrinth-hovering-box.idrinth-popup > .buttons > button{
        width:45%;
        padding:2%;
        margin:0 0.25%;
        display:block;
    }
    .idrinth-hovering-box.idrinth-popup.idrinth-alert {
        margin:0 25.25%;
    }
    .idrinth-hovering-box.idrinth-popup.idrinth-confirm > .buttons > button{
        float:left;
    }
    .idrinth-join-frame {
        position:absolute;
        left:0;
        @include simple-square(1px);
        z-index:-100;
    }
    .idrinth-circle {
        padding:0.2em;
        @include simple-square(1em);
        float:right;
        cursor:pointer;
        background:#000;
        color:#fff;
        border-radius:50%;
    }
    .idrinth-hide {
        display:none !important;
    }
    .idrinth-tier-box,
    .idrinth-tier-box > div {
        height:95px;
        width: 140px;
        box-sizing: border-box;
        overflow:hidden;
    }
    .idrinth-tier-box {
        background-size: 100% 100%;
        color: #000;
        border: 1px solid;
        font-size:10px;
        position:fixed;
        top:0;
    }

    .idrinth-tier-box > div {
        background:rgba(255,255,255,0.45);
    }
    .idrinth-tier-box > div > div {
        width: 50%;
        float: left;
        padding:2px;
        box-sizing: border-box;
    }
    .idrinth-tier-box > div > strong {
        width: 100%;
        display:block;
        padding-bottom:2px;
        text-align:center;
        background:rgba(255,255,255,0.25);
    }
    #idrinth-raid-may-join-list > div {
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        height:35px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    .idrinth-openclick {
        border: 1px solid #ccc;
        margin: 1px;
    }
    .idrinth-openclick > strong {
        display:block;
        border-radius: 3px;
        text-align: center;
        background-color:rgba(204,204,204,0.2);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
        cursor:pointer;
    }
    .idrinth-openclick > div {
        display:none;
    }
    .idrinth-openclick.active > div {
        display:block;
    }
}